<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="RollingFile" fileName="C:/alumniLogRep/alumniLog.log"
                 filePattern="C:/alumniLogRep/alumniLog-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        <!-- <SizeBasedTriggeringPolicy size="250 MB"/> -->
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <!-- <AppenderRef ref="Console"/> -->
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>